metadata/flows/Vedamo_Session_Permalink_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vedamo_Session_Permalink_Create_Action</name>
        <label>Vedamo Session Permalink Create Action</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>VedamoSessionPermalinkCreate.post</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Vedamo_Session_Permalink_Create_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Vedamo_Session_Permalink_Create_Action_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VedamoSessionPermalinkCreateActionParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VedamoSessionPermalinkCreate.post</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Vedamo_Session_Permalink_Assign</name>
        <label>Vedamo Session Permalink Assign</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>room_permalink</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>create</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permalink_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permalink_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.roomx5fkey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permalink_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.userx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permalink_User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.roomx5fdescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Session_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.roomx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Session_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.roomx5femails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Session_Participants_Emails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.roomx5frecordable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Session_Recordable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.roomx5fobserversx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Session_Observers_Emails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.roomx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Session_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fassignx5fparticipantsx5ftox5fgroupsx5frandomly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Groups_Randomly__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2faudiox2freceive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Audio_Recieve__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2faudiox2fsend</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Audio_Send__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fchatx2finx2fwaitingx2froom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Chat_In_Waiting_Room__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fchatx2fprivate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Chat_Private__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fchatx2fview</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Chat_View__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fchatx2fwrite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Chat_Write__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2ffilex2fdownload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_File_Download__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2ffilex2fupload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_File_Upload__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2ffilex2fview</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_File_View__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2ffixedx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Fixed_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fguestsx2flock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Guests_Lock__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2flayoutx5ftemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Layout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fparticipantsx5fvideox5flayout</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Video_Layout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fpresenter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Presenter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2froomx5factivated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Room_Activated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2froomx5fsystemx5fcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_System_Check__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2froomx5fsystemx5fcheckx5fonetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_System_Check_Once__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fscreenx5fsharingx5frequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Screen_Sharing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fsimplex5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Simple_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fvideox2findividualx2fshown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Video_Individual_Show__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fvideox2fmosaicx2fshown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Video_Mosaic_Shown__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fvideox2fmosaicx2fview</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Video_Mosaic_View__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fvideox2fsend</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Video_Send__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fwaitingx5froomx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Waiting_Room_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fwaitx5fforx5fadmin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Wait_For_Admin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fwhiteboardx2feditx2fall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Whiteboard_Edit_All__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fwhiteboardx2fexport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Whiteboard_Export__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fwhiteboardx2fview</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Whiteboard_View__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkCreateActionParams.command.params.settings.permissions.vclx2fwhiteboardx2fwrite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SP_Whiteboard_Write__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vedamo_Session_Permalink_Create_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Vedamo Session Permalink Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vedamo Session Permalink Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vedamo_Session_Permalink_Create_Action_Failed</name>
        <label>Vedamo Session Permalink Create Action Failed</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Create_Action.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_Session_Permalink_Create_Success</name>
        <label>Vedamo Session Permalink Create Success</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Create_Action.200.response.errorx5fmsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Create_Action.200.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Permalink_ID__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Create_Action.200.response.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Vedamo_Session_Permalink__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Vedamo_Session_Permalink_Assign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VedamoSessionPermalinkCreateActionParams</name>
        <apexClass>ExternalService__VedamoSessionPermalinkCreate_post_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
