metadata/flows/Vedamo_User_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vedamo_User_Create_Action</name>
        <label>Vedamo User Create Action</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>VedamoUserCreate.post</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Vedamo_User_Create_Action_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Vedamo_User_Record_Action_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VedamoUserCreateActionParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VedamoUserCreate.post</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Vedamo_User_Create_Assign</name>
        <label>Vedamo User Create Assign</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>create</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.params.userx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.params.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.params.password</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Password__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.params.fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.params.lname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.params.approved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserCreateActionParams.command.params.roles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vedamo_User_Create_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Vedamo User Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vedamo User Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vedamo_User_Create_Action_Success</name>
        <label>Vedamo User Create Action Success</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_User_Create_Action.200.response.errorx5fmsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <elementReference>Vedamo_User_Create_Action.200.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_User_ID__c</field>
            <value>
                <elementReference>Vedamo_User_Create_Action.200.response.userx5fid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_User_Record_Action_Failed</name>
        <label>Vedamo User Record Action Failed</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_User_Create_Action.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Vedamo_User__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Vedamo_User_Create_Assign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VedamoUserCreateActionParams</name>
        <apexClass>ExternalService__VedamoUserCreate_post_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
