metadata/flows/Vedamo_Session_Permalink_Teacher_Share.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vedamo_Session_Permalink_Teacher_Share_Action</name>
        <label>Vedamo Session Permalink Teacher Share Action</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>VedamoSessionPermalinkTeacherShare.post</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Vedamo_Prevent_Recursion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Vedamo_Session_Permalink_Teacher_Share_Update_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VedamoSessionPermalinkTeacherShareActionParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VedamoSessionPermalinkTeacherShare.post</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Vedamo_Session_Permalink_Teacher_Share_Assign</name>
        <label>Vedamo Session Permalink Teacher Share Assign</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkTeacherShareActionParams.command.resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>room_permalink</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkTeacherShareActionParams.command.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>share_teacher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkTeacherShareActionParams.command.params.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permalink_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionPermalinkTeacherShareActionParams.command.params.teacherx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vedamo_Session_Permalink_Teacher_Share_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Vedamo Session Permalink Teacher Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vedamo Session Permalink Teacher Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vedamo_Prevent_Recursion</name>
        <label>Vedamo Prevent Recursion</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Vedamo_Session_Permalink_Teacher_Share_Update_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>RUNNING</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_Session_Permalink_Teacher_Share_Update_Failed</name>
        <label>Vedamo Session Permalink Teacher Share  Update Failed</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Teacher_Share_Action.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_Session_Permalink_Teacher_Share_Update_Success</name>
        <label>Vedamo Session Permalink Teacher Share  Update Success</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Teacher_Share_Action.200.response.errorx5fmsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Teacher_Share_Action.200.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Permalink_Share_ID__c</field>
            <value>
                <elementReference>Vedamo_Session_Permalink_Teacher_Share_Action.200.response.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>API_Object_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>shared</stringValue>
            </value>
        </filters>
        <filters>
            <field>API_Operation_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vedamo_Session_Permalink_Teachers__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Vedamo_Session_Permalink_Teacher_Share_Assign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VedamoSessionPermalinkTeacherShareActionParams</name>
        <apexClass>ExternalService__VedamoSessionPermalinkTeacherShare_post_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
