metadata/flows/Vedamo_User_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vedamo_User_Update_Action</name>
        <label>Vedamo User Update Action</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>VedamoUserUpdate.post</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Vedamo_Prevent_Recursion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Vedamo_User_Update_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VedamoUserUpdateActionParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VedamoUserUpdate.post</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Vedamo_User_Update_Assign</name>
        <label>Vedamo User Update Assign</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.params.userx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.params.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.params.fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VedamoUserUpdateActionParams.command.params.fname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.params.lname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.params.password</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Password__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoUserUpdateActionParams.command.params.roles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vedamo_User_Update_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Vedamo User Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vedamo User Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vedamo_Prevent_Recursion</name>
        <label>Vedamo Prevent Recursion</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Vedamo_User_Update_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>RUNNING</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_User_Update_Failed</name>
        <label>Vedamo User Update Failed</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_User_Update_Action.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_User_Update_Success</name>
        <label>Vedamo User Update Success</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_User_Update_Action.200.response.errorx5fmsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <elementReference>Vedamo_User_Update_Action.200.status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>API_Operation_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>API_Operation_Error__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>API_Object_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vedamo_User__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Vedamo_User_Update_Assign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VedamoUserUpdateActionParams</name>
        <apexClass>ExternalService__VedamoUserUpdate_post_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
