metadata/flows/Vedamo_Session_Participants_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vedamo_Session_Join_Action</name>
        <label>Vedamo Session Join Action</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>VedamoSessionJoin.post</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Vedamo_Session_Join_Action_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Vedamo_Session_Join_Action_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VedamoSessionJoinActionParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VedamoSessionJoin.post</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Vedamo_Session_Join_Assign</name>
        <label>Vedamo Session Join Assign</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>VedamoSessionJoinActionParams.command.resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>room</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionJoinActionParams.command.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>join</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionJoinActionParams.command.params.userx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Participant_User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionJoinActionParams.command.params.roomx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Session_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionJoinActionParams.command.params.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Participant_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionJoinActionParams.command.params.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Participant_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionJoinActionParams.command.params.notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Participant_Notify__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vedamo_Session_Join_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Vedamo Session Participants Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vedamo Session Participants Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vedamo_Session_Join_Action_Failed</name>
        <label>Vedamo Session Join Action Failed</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Join_Action.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_Session_Join_Action_Success</name>
        <label>Vedamo Session Join Action Success</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Join_Action.200.response.errorx5fmsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <elementReference>Vedamo_Session_Join_Action.200.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Participant_URL__c</field>
            <value>
                <elementReference>Vedamo_Session_Join_Action.200.response.url</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Vedamo_Session_Participants__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Vedamo_Session_Join_Assign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VedamoSessionJoinActionParams</name>
        <apexClass>ExternalService__VedamoSessionJoin_post_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
