metadata/flows/Vedamo_Session_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vedamo_Session_Create_Action</name>
        <label>Vedamo Session Create Action</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>VedamoSessionCreate.post</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Vedamo_Session_Create_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Vedamo_Session_Create_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VedamoSessionCreateActionParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VedamoSessionCreate.post</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Vedamo_Session_Create_Assign</name>
        <label>Vedamo Session Create Assign</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>VedamoSessionCreateActionParams.command.resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>room</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionCreateActionParams.command.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>create</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionCreateActionParams.command.params.creatorx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Creator_User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionCreateActionParams.command.params.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionCreateActionParams.command.params.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VedamoSessionCreateActionParams.command.params.permalinkx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permalink_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vedamo_Session_Create_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Vedamo Session Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vedamo Session Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vedamo_Session_Create_Failed</name>
        <label>Vedamo Session Create Failed</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Create_Action.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vedamo_Session_Create_Success</name>
        <label>Vedamo Session Create Success</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>API_Operation_Error__c</field>
            <value>
                <elementReference>Vedamo_Session_Create_Action.200.response.errorx5fmsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Operation_Status__c</field>
            <value>
                <elementReference>Vedamo_Session_Create_Action.200.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Session_ID__c</field>
            <value>
                <elementReference>Vedamo_Session_Create_Action.200.response.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Session_Key__c</field>
            <value>
                <elementReference>Vedamo_Session_Create_Action.200.response.key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Session_URL__c</field>
            <value>
                <elementReference>Vedamo_Session_Create_Action.200.response.url</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Vedamo_Session__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Vedamo_Session_Create_Assign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VedamoSessionCreateActionParams</name>
        <apexClass>ExternalService__VedamoSessionCreate_post_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
